CREATE TABLE IF NOT EXISTS suggestions (id SERIAL PRIMARY KEY, usuario_id INTEGER NOT NULL REFERENCES users(id), area_id INTEGER REFERENCES areas(id), tipo VARCHAR(50) NOT NULL, titulo VARCHAR(255) NOT NULL, descripcion TEXT NOT NULL, fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP); CREATE TABLE IF NOT EXISTS suggestion_attachments (id SERIAL PRIMARY KEY, suggestion_id INTEGER NOT NULL REFERENCES suggestions(id) ON DELETE CASCADE, nombre_archivo VARCHAR(255), ruta_archivo TEXT, tipo_archivo VARCHAR(50), tamano VARCHAR(50), fecha_carga TIMESTAMP DEFAULT CURRENT_TIMESTAMP); CREATE TABLE IF NOT EXISTS justifications (id SERIAL PRIMARY KEY, usuario_id INTEGER NOT NULL REFERENCES users(id), area_id INTEGER REFERENCES areas(id), titulo VARCHAR(255) NOT NULL, descripcion TEXT NOT NULL, fecha_evento DATE NOT NULL, hora_inicio VARCHAR(10), hora_fin VARCHAR(10), estado VARCHAR(50) DEFAULT 'pendiente', razon_rechazo TEXT, aprobado_por INTEGER REFERENCES users(id), fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP, fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP); CREATE TABLE IF NOT EXISTS justification_attachments (id SERIAL PRIMARY KEY, justification_id INTEGER NOT NULL REFERENCES justifications(id) ON DELETE CASCADE, nombre_archivo VARCHAR(255), ruta_archivo TEXT, tipo_archivo VARCHAR(50), fecha_carga TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
